@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgba(209, 201, 201, 0.644);
}
.container {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    height: 100vh;
    margin: auto;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: rgb(29, 28, 28);
    
}

.container img {
    max-width: 95%;
    border-radius: 10px;
    margin: auto;
    padding: 5px;
    margin-top: 10px;
}

.cartas {
    background-color: white;
    border: 2px solid tomato;
    max-width: 470px;
    border-radius: 5px;
    
}
